* {
    margin: 0px;
    padding: 0px;
}
/*CSS vem aqui em baixo*/
header{
    background-color: #FF9C4A;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
}

img{
    width: 550px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

body a :hover{
    text-decoration: underline;
    font-weight: bold;
}

#apres{
    margin-bottom: 20px;
    background-color: #FF9C4A;
    padding-top: 60px;
}

#sobre{
    padding-top: 60px;
}

#habil{
    padding-top: 60px;
}

footer{
    background-color: #45949B;
}

footer ul{
    display: flex;
    flex-direction: row;
}

.icone{
    fill:white;
    stroke:black;
    stroke-width: 5px;
    width: 60px;
}
