* {
    background-color:
    color(srgb-linear red green blue)}

.contato{
    /*border: 1px solid tomato;*/
    background-color: gray; 
}

.info{
    /*border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mim{
    /*border: 1px salmon*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(233, 142, 130)
}


.bio{
    font-family:'Times New Roman', Times, serif
}

h1 {
    color:black;}

h2 {color: black;}